html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  cursor: default;
  font: normal 1.5px/normal Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  background: radial-gradient(circle, rgb(35, 29, 24) 25%, rgba(0, 0, 0, 0) 25%), radial-gradient(circle, rgb(63, 57, 50) 25%, rgba(0, 0, 0, 0) 25%), radial-gradient(circle, rgb(35, 29, 24) 25%, rgba(0, 0, 0, 0) 25%), radial-gradient(circle, rgb(63, 57, 50) 25%, rgba(0, 0, 0, 0) 25%), rgba(0, 57, 84, 1);
  background-size: 6em 6em;
  overflow-x: hidden;
}

header {
  font-size: 15px;
  padding: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

header h1 {
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

.header {
  background: #2c3e50;
}

a {
  color: #49afef;
  text-decoration: none;
}

section {
  padding: 10px;
}

section.circles {
  margin-top: 20px;
  background: #1abc9c;
}

section.text {
  padding: 30px;
  margin-top: 20px;
  background: #008C9E;
  font-size: 20px;
}

.circle-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.angular-img {
  background: url("/images/angular.png");
}

.angular>svg {
  width: 130px;
  height: 130px;
}

.code-img {
  background: url("/images/code.png");
}

.code>svg {
  width: 110px;
  height: 110px;
}

.database-img {
  background: url("/images/data.png");
}

.database>svg {
  background: rgba(242, 200, 17, 1);
  width: 130px;
  height: 130px;
}

.centered-circle {
  display: flex;
  justify-content: center;
}

/*----------------------ICONS--------------------------*/

.icon-list {
  display: flex;
}

.icon>svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.icon>svg:hover {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}

.post-list {
  list-style: none;
  font-size: 16px;
}

.post-meta {
  font-size: 13px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 1em;
}

.post-link, a.post-link, .post-title {
  display: block;
  font-size: 36px;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.3;
}

.page-content {
  font-size: 15px;
}

.post-content p, .post-content ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 120%;
  margin: 20px 0 17px 0;
}

img {
  max-width: 100%;
}

.post-list .post-link {
  display: inline;
  font-size: 15px;
}

.post-list .post-meta {
  display: inline-block;
  margin-bottom: 0;
}

@media (min-width: 970px) {
  .post-list .post-meta {
    width: 100px;
  }
  .post-list .post-link {
    font-size: 20px;
  }
}

.site-nav {
  border-radius: 4px;
  font-size: 13px;
  line-height: 2.2;
  position: relative;
}

.site-nav .page-link {
  color: #ddd;
  line-height: 1.5;
  transition: transform 0.1s;
  transition-property: transform;
  transition-property: transform;
}

@media (min-width: 970px) {
  .two-columns {
    column-count: 2;
  }
}

.text p {
  font-size: 15px;
  line-height: 2.2;
}

.ih-item.circle .profile-img {
  width: 100px !important;
  height: 100px !important;
}

.ih-item.profile-outer-circle {
  width: 110px !important;
  height: 110px !important;
}

.ih-item.profile-circle {
  width: 110px !important;
  height: 110px !important;
}

.profile-spinner {
  width: 120px !important;
  height: 120px !important;
}

.centered-text {
  padding-left: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}