body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  cursor: default;
  font: normal 1.5px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  background: -webkit-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), -webkit-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), rgba(0,57,84,1);
  background: -moz-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), -moz-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), rgba(0,57,84,1);
  background: radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), rgba(0,57,84,1);
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 6em 6em;
  transform-origin: 50% 50% 0;
}

header {
  padding: 20px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

header h1 {
  margin-top: 0;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

.header {
  margin-top: 20px;
  background: #2c3e50;
}

a {
    color: #49afef;
    text-decoration: none;
}

section {
	padding: 10px;
}

section.circles {
    margin-top: 20px;
    background: #1abc9c;
}

section.text {
  	padding: 80px;
    margin-top: 20px;
    background: #008C9E;
    font-size: 20px;
}

.dotnet-circle:after {
    background: #4f4f4f url("../images/code.png");
}

.code-img {
    background: #4f4f4f url("../images/code.png");
    display: flex;
    justify-content: center;
}

.code-img .visualstudio {
    content: url("../images/visualstudio.svg");
    width: 100px;
}

.angular-img {
    background: #4f4f4f url("../images/angular.png");
    display: flex;
    justify-content: center;
}

.angular-img .angular {
    content: url("../images/angular.svg");
    width: 160px;
}

.database-img {
    background: #4f4f4f url("../images/data.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.database-img .database {
    background: rgba(242,200, 17, 1);
    content: url("../images/data.svg");
    width: 120px;
    height: 130px;
}

.icon-list {
  display: flex;
}

.icon {
  width: 32px;
  height: 32px;
  margin-top:10px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  width: 40px;
  height: 40px;
  margin-top:2px;
}

.icon-twitter {
  content: url("../images/twitter.svg");
}

.icon-stackoverflow  {
  content: url("../images/stackoverflow.svg");
}

.icon-github  {
  content: url("../images/github.svg");
}

.centered-circle {
  display: flex;
  justify-content: center;
}