<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
    <link href="stylesheets/ihover.css" type="text/css" rel="stylesheet">
    <title>{{ page.title }}</title>
</head>

<body>
    <header class="header">
        <div class="row">
            <div class="col-md-2 col-offset-2 centered-circle">
                <div class="ih-item outer-circle colored effect1">
                    <a>
                        <div class="ih-item circle effect1">
                            <a href="#">
                                <div class="spinner"></div>
                                <div class="img"><img src="images/me.jpg" alt="img"></div>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Stefan Kert</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon-list">
                            <a href="https://twitter.com/StefanKert">
                                <i class="icon icon-twitter"></i>
                            </a>
                            <a href="http://stackoverflow.com/users/6641105/stefan-kert">
                                <i class="icon  icon-stackoverflow"></i>
                            </a>
                            <a href="https://github.com/StefanKert">
                                <i class="icon  icon-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        {{ content }}
    </div>
    <script src="https://use.fontawesome.com/f48e24c399.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84001114-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>